
.wrapper {
    background-color: #FFF;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 690px;
       
} 

