

.main {
  background-color: white;
  background-size: 100%;
    height: 100%;
    }

.wrapper {
        width:fit-content;
        min-height: 690px;
       
} 
.navbar .navbar-nav .nav-link {
        color: #bbb;
        font-size: 16px;
}

.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: black;
}


   
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23888' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  position: absolute;
  color:#999;
  bottom: 20px;
  left: 20px;
}


.carousel-control-next-icon {
  background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23888' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  position: absolute;
  bottom: 20px;
  right: 20px;
}


.color_select input[type="radio"]{
 
  visibility: hidden;
  position: absolute;

}

input[type=radio] + label:before{
  height:20px;
  width:20px;
  margin-right: 10px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
}

input[type=radio]:checked + label:before{
  border:2px solid #999; 
}


input[type=radio] + #label_noire:before{
  background-color: black;
  opacity: .7;
}

input[type=radio] + #label_cristal:before{
  background-color: #DDD;
  opacity: .7;
}
input[type=radio] + #label_ecaille:before{
  background-image: url('../img/icones/ecaille.jpg');
  background-size: contain;
  opacity: .7;
}



input[type=radio]:checked + #label_noire:before {
  opacity: 1;
}

input[type=radio]:checked + #label_ecaille:before {
  opacity: 0.7;
}

input[type=radio]:checked + #label_cristal:before {
  opacity: 1;
}

#label_qty {
  font-size: 12px;
  color: #bbb;

}

#qty {
  font-size: 12px;
  color: #bbb;
}


p {
  color: #bbb;
  margin-left: 10px;
}
#data {
  border-left: 2px solid #bbb; ;
}

#description {
  width: 300px;
}
.btn {
  background-color: #999;
  color:#ddd;
}


