.wrapper {
  margin-top:  -107px;
} 

.carousel-control-next-icon {
  display: none;
}

.carousel-control-prev-icon {
  display: none;
}

.carousel-indicators .carousselIndicator{
  width: 60px;
  height:60px;
  opacity: 1;
 }
 .carousel-indicators .carousselIndiator{
  width: 60px;
  height:60px;
  opacity: 1;
 }

 .carousel-indicators {
  /* position: absolute; */
  margin : 0  auto 0 auto;
 }

 .carousel-indicators .carousselIndiator .active{
  border: 1px solid black
}

.carousel-indicators .carousselIndicator .active{
  border: 1px solid black
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: transparent;
  background-size: contain;
  background-repeat:no-repeat;
}


.data_content {
margin-top: 110px ;
}

.breadcrumb ul {
  margin:20px 0 10px 0px;
  display: flex;
}
.breadcrumb ul a{
text-decoration: none;
color:#000;
font-size: 12px;
}
.breadcrumb span {
  font-size: 12px;
  font-weight: bold;
}

.breadcrumb ul a:hover{
  font-weight: bold;
}
  
.breadcrumb li::before {
  font-family: "Font Awesome 5 Free";
  content: " \f0da ";
  display: inline-block;
  padding-right: 3px;
  padding-left: 3px;
  vertical-align: middle;
  font-weight: 900;
}
  
.breadcrumb li:first-child::before {
  content: "";
}

.nom-produit  {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
.prix {
  font-size: 12px;
  color: #000;
}

/* color select  */
.color {
  height: 24px;
    width: 24px;
    border-radius: 50%;
 
}


.selected {
  border : 2px solid black;
}
 
  .outside {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color:transparent;
    margin-right: 20px;

  }



#noir{
  background-color: black;
  opacity: .7;
}
#cristal{
  background-color: #DDD;
  opacity: .7;
}

#ecaille {
  background-image: url('../img/icones/ecaille.jpg');
 background-size:contain;
  opacity: .7;
}



input[type=radio]:checked + #label_noire:before {
  opacity: 1;
}

input[type=radio]:checked + #label_ecaille:before {
  opacity: 0.7;
}

input[type=radio]:checked + #label_cristal:before {
  opacity: 1;
}





/* quantity */
#label_qty {
  font-size: 15px;
  margin-right: 5px;
  color: #000;

}

#qty {
  font-size: 15px;
  color: #000;
}


/* details */
.details {
  font-size: 15px;
  color :#000;
}
.detail p{
  font-size: 15px;
  color :#000;
}

.separator {
  height: 1px;
  background-color: #000;
}

#matieres , #entretien ,#tailles {
  color: #000;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 5px;

}


.description {
  text-align:justify;
  width: 100%;
  align-items: flex-start;
  font-size: 15px;
  white-space: pre-wrap;
}
.btn {
  background-color:#F2E4DC;
  color: #000;
  font-size: 15px;
  border-radius: 0;
}

.expand{
  width: 20px;
  font-size: 15px;
  color: #000;
  border:none;
  background-color: #fff;
}


/* iphone */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait)  {
    .wrapper {
      margin-top:-70px;
    }
    .data_content {
      margin-top:10px ;
    }
  }

  /* ipad */
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .wrapper {
      margin-top:-70px;
    }
    .data_content {
      margin-top:10px ;
    }

  }


/* Galaxy from S6 */

@media screen 
and (min-device-width: 360px) 
and (max-device-width: 740px) 
and (-webkit-device-pixel-ratio: 4) 
and (orientation: portrait) {
  .wrapper {
		margin-top:-70px;
	}
  .data_content {
    margin-top:10px ;
  }
  }

