.wrapper {
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 1080px;   
}

.content {
    margin-top: 150px;
}

.btn {
    background-color: #F2E4DC;
    color: #888;
    font-size: 24px;
    border: solid  1px #888;
}

.input-form, .form-select, .input-group-text {
    color: #333;
    font-size: 1.5vh;
    height: 4vh;
    padding: 0.3vh 1.5vh;
}

.form-check {
    color: #333;
    font-size: 1.5vh;
    height: 4vh;
    padding: 0.3vh 20px;
}

.form-check-label{
    font-size:1.5vh;
    color: white;
}
    
.row {
    margin:0;
}

.text-area-group {
    padding: 0 16px;
}

.text-area {
    color: #333;
    font-size: 1.5vh;
    height: 8vh;
}

.form-label{
    font-size:1.5vh;
    margin:0.3vh 0;
    }

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.dz-image img {
    width: 150px;
}


  @media (max-width: 991.98px) {
    label{
    font-size:1.7vw;
    }
  }

   @media (max-width: 767.98px) {
    label{
    font-size:2.5vw;
    }
   }