h1 {
    position: absolute;
     top: -1000px; 
     left: -1000px;
 }

p {
    font-size: 13px;
    color: #888;
}

.reset-password-link {
    text-decoration: none;
    color: #777;
    font-size: 13px;
  
    font-weight: normal;
}

.reset-password-link:hover {
    color:coral
}

.btn {
    font-size: 20px;
    background-color: #F2E4DC;
    border: none;
    color: #777;

}.btn:hover {
    color: white;
    background-color: #ceae9c;

}



