{% extends "base.html.twig" %}
{% block title %}{{parent()}}| Back Office {% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/back_office.css') }}">{% endblock %}
{% block h1 %}Back office {% endblock %}

{% block body %}

<div class="wrapper">

    <div class="row col-md-6 mx-auto mt-5 pt-5" >

        <a  class ="bg-danger p-4 text-center col-md-6 text-white text-decoration-none" href="{{path('produit_afficher')}}"> Gestion des produits </a>
        <a  class ="bg-info p-4 text-center col-md-6 text-white text-decoration-none" href="#"> Gestion des catégories</a>
        <a  class ="bg-warning p-4 text-center col-md-6 text-white text-decoration-none" href="#"> Gestion des marques </a>
        <a  class ="bg-success p-4 text-center col-md-6 text-white text-decoration-none" href="#"> Gestion des matières </a>
        <a  class ="bg-primary p-4 text-center col-md-6 text-white text-decoration-none" href="#"> Gestion Accueil </a>

    </div>
</div>
    
{% endblock %}
