{% extends 'base.html.twig' %}

{% block title %}ODHUNE{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{  asset('css/style_accueil.css')  }}">{% endblock %}

{% block content %}
{# <img id="background_image">

<source src="{{ asset ('img/background/Paul-Jeanne-NB.jpeg') }}">

</img> #}


<h1>créateur lunette original artisan France </h1>
    <div class="wrapper">
        <div class="titre">O D H U N E</div>
        <div class="separator"></div>
        <h3> CRÉATEUR ARTISAN LUNETIER </h3>
        <div class="icon-wrapper">
                <a class="networks_icon" href="https://www.instagram.com/odhune/?hl=fr" target="_blank">
                <i class="fab fa-instagram fa-3x text-white"></i>
                </a>
            </div>
    </div>
{% endblock %}
