{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | modifier {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/produit_modifier.css') }}">
{% endblock %}
{% block h1 %}Modifier un  produit{% endblock %}
{% block body %}

<div class="wrapper">


    <h4 class ='text-center text-white mt-3'>Il n'y a aucun produit pour l'instant</h4>
     



</div>

{% endblock %}
