{% extends "base.html.twig" %}
{% block title %}{{ parent() }} | Profil{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/mentions_legales_CGV.css') }}">{% endblock %}
{% block h1 %}Profil{% endblock %}
{% block content %}

 
       <div class=" wrapper col-12 d-flex flex-lg-row flex-column ">
                 <div class="col-lg-6 col-12">
       
                        <img id ="slideShow" class="d-block w-100" src=""  alt="">
                    
                </div>
                       
        
               <div class="pdc col-lg-6 col-12 mx-auto d-flex flex-column justify-content-start px-2">

                    <h1 class=" mx-auto">Conditions Générales de Vente<h1>
                    <div>


               
<p class="text">
Ces Conditions Générales de Vente sont celles de la société ODHUNE SARL au capital
social de 5000€, dont le siège social est 11 Avenue Aristide Briand 14800 Touques
FRANCE, immatriculée au registre du commerce et des sociétés sous le numéro Lisieux B
899 113 203. Son numéro Siret est le 89911320300017 et son numéro de TVA
intracommunautaire est le FR93899113203.
</p>
<p class="titre">Champ d’application et acceptation des conditions générales de vente</p>

<p class="text">
L'achat de produits sur www.odhune.com est soumis aux conditions générales de vente du Site. Les produits ODHUNE sont réservés à la vente aux consommateurs finaux personnes physiques ou morales, à l'exclusion de tous revendeurs. Le client ne peut pas revendre les produits ODHUNE dans un but commercial.DHUNE peut à tout moment mettre à jour ces Conditions Générales de Vente. A chaque achat, vous acceptez les présentes Conditions Générales de Vente en vigueur à la date de passation de votre commande. Les conditions générales sont visibles avant la commande.
</p>
<p class="titre">Modalités de Commande</p>

<p class="text">
Le site permet de commander à la société ODHUNE des produits, immédiatement en ligne via Internet pour une livraison en France et à l’étranger (voir l’Article 8 « Modalités de Livraison »). Les présentes Conditions Générales de Vente ne s’appliquent
</p>
<p class="titre">Disponibilité des Produits</p>

<p class="text">
Nos offres de produits et prix sont valables tant qu'ils sont visibles sur le Site, dans la limitedes stocks disponibles. Des erreurs ou modifications peuvent exceptionnellement exister.Dans l'éventualité d'une indisponibilité de produit après passation de votre commande, nous vous en informerons par courriel ou par téléphone dans les meilleurs délais, en vous
proposant soit de commander un autre produit présenté sur le site en remplacement, soit d'annuler votre commande.
ODHUNE n'encourt aucune responsabilité en cas de rupture de stock ou d'indisponibilité des produits dont la commande n’est pas encore acceptée.ODHUNE se réserve le droit de changer à tout moment et sans préavis les produits proposés sur le site. Afin d'assurer une meilleure qualité de service et de disponibilité de nos produits auprès de l'ensemble des clients du site, ODHUNE se réserve le droit de limiter la quantité de produits pouvant être achetés par un client, ce en conformité avec les dispositions applicables en la matière et notamment celles de l'Article L. 122-1 du Code de la consommation français.
</p>

<p class="titre">Commande</p>

<p class="text">
Les données enregistrées par le site constituent la preuve de l'ensemble des transactions passées. En cas de conflit entre ODHUNE et un client sur une transaction effectuée sur le site, les données enregistrées par ODHUNE sont considérées comme preuve valable ducontenu de la transaction. ODHUNE ne peut être tenue pour responsable d'erreurs ou d'inexactitudes non substantielles des photographies ou des représentations graphiques des Produits figurant sur le Site. En cas de questions sur les produits, vous pouvez prendre contact avec nous par mail à contact@odhune.com. ODHUNE se réserve le droit de ne pas accepter une commande d'un client avec lequel elle est en litige pour une commande antérieure, ou si nous estimons que ce client a enfreint les présentes Conditions Générales ou qu'il s'est engagé dans une activité frauduleuse, ou pour tout autre motif légitime.
Lors de la commande un récapitulatif vous sera adressé par courriel. L'accusé de réception fera figurer le montant total de la commande, les informations relatives au coût et au délai de Livraison, les caractéristiques essentielles, la quantité et le prix des Produits achetés.Le client accepte l'usage du courrier électronique pour la confirmation par ODHUNE du contenu de la commande.
Nous vous conseillons de conserver cet accusé de réception. En application de l'article L. 134-2 du Code de la consommation, ODHUNE conserve l'écrit qui constate le contrat conclu entre ODHUNE et un Client par voie électronique pendant un délai courant à compter de la conclusion du contrat jusqu'à la date de Livraison du bien et pendant une durée de dix ans à compter de celle-ci (en conformité avec le décret 2005-137 du 16 février 2005). Vous disposez alors d'un accès à ce document à tout moment, sur demande effectuée auprès du Service Clients en nous envoyant un courriel à l’adresse ; et la justification de votre identité.
</p>

<p class="titre">Prix</p>

<p class="text">
Les prix des Produits sont en Euros, toutes taxes comprises. En dehors des cas de remboursement réalisé dans le cadre de l’exercice du droit de rétractation ou pour défaut de conformité et vices cachés, ODHUNE ne remboursera pas la TVA appliquée sur les achats effectués sur le Site (même dans le cas où l'acheteur, après réception, réexpédie les Produits à destination d'un pays tiers à l'Union Européenne). Concernant les ventes réalisées hors Union-Européenne, le dédouanement, le paiement de droits ou taxes divers sont à la charge du Client. ODHUNE se réserve le droit de modifier à tout moment et sans préavis les prix des Produits
proposés sur le Site. Les Produits sont facturés sur la base des tarifs affichés sur le Site au moment de la passation de votre commande, sous réserve de disponibilité des Produits commandés à cet instant. Toutes les commandes sont payables en Euros et doivent être réglées immédiatement au moment de la passation de votre commande. En cas d'indisponibilité de certains Produits
commandés (voir l’article 4 « Disponibilité des Produits »), seuls le prix et les frais de transport relatifs aux Produits disponibles seront débités. Les moyens de paiement acceptés sont les suivants : cartes de crédit et cartes bancaires
(Visa®, MasterCard®) via la plateforme sécurisée mise en œuvre par Pay Plug. Conformément aux dispositions de l’article L. 132-2 du Code monétaire et financier, l'ordre ou l'engagement de payer donné au moyen d'une carte de paiement est irrévocable
Toute commande effectuée sur le Site implique la garantie de la part du Client qu'il possède toutes les autorisations nécessaires pour utiliser les moyens de paiement mis à disposition. L'expédition de votre commande n'a lieu qu'après vérification de votre mode de paiement et réception de l'autorisation de débit de votre carte. Le débit de votre compte interviendra au moment de l’expédition de votre commande. ODHUNE ne conserve pas les données bancaires de ses Clients.
</p>
<p class="titre">Propriété</p>

<p class="text">
Les Produits commandés sont la propriété de ODHUNE jusqu'à l’encaissement complet de
la commande.
En revanche, vous assumez les risques (notamment de perte, de vol ou de détérioration)
concernant les Produits livrés à compter du moment où ils sont livrés à l’adresse indiquée
lors de la commande.
</p>

<p class="titre">Livraison</p>

<p class="text">
Les Produits achetés sur le Site peuvent être livrés en France, en Europe, et au reste du
Monde.

Les Produits sont expédiés à l'adresse de livraison que vous avez indiquée au cours du
processus de commande en cas d’erreur dans le libellé des coordonnées du Client, ODUNE
ne pourra être tenue responsable de l’impossibilité de livrer le ou les produits commandés.
Les commandes seront expédiées sous 5 jours ouvrés et en 15 jours ouvrés maximum lors
de période de forte demande (hors week-end et jours fériés).
Il faut prendre en compte que chaques lunettes est réalisées sur commande.
Dès lors que votre commande est expédiée, vous la recevez sous 3 à 5 jours ouvrés pour la
France et l'Europe et jusqu'à 10 jours ouvrés pour le reste de Monde.
ODHUNE ne peut être tenue responsable du retard d’acheminement n’étant pas de son fait
ou justifié par un cas de force majeure (tel que défini ci-après).

Pour toute question, contactez-nous par mail à contact@odhune.com

Tout défaut ou retard de Livraison, supérieur aux délais de Livraison doit nous être signalé
par mail à contact@odhune.com dans les meilleurs délais en nous envoyant un courriel
à l’adresse email. Toute réclamation formulée au-delà de quatorze jours calendaires après la
date de validation de votre commande ne pourra pas être prise en compte.
En cas de détérioration du colis et du produit, le client doit :
● Refuser le colis qui sera alors directement retourné à l’expéditeur
● Émettre des réserves à la réception du colis détérioré
● Faire une réclamation sur le site du transporteur
● Sans réserve de votre part, le transporteur n’est pas tenu de vous indemniser. Votre
réclamation enrichira la réclamation faite par nous.
Pour effectuer une réclamation, contactez-nous à contact@odhune.com, en indiquant :
● Nom du destinataire
● Numéro de suivi du colis
● Référence du produit
● Photos du colis abimé avec l’affranchissement bien visible
● Photo de l’intérieur du colis
● Photo du produit endommagé
En cas de non-respect du délai de livraison, vous pouvez annuler la commande, simplement
par courriel ou lettre recommandée avec accusé de réception à l’adresse suivante :
ODHUNE - 11 Avenue Aristide Briand 14800 Touques FRANCE
ODHUNE sera alors tenue de vous rembourser la totalité des sommes versées, au plus tard
dans un délai de quatorze (14) jours suivant la date de dénonciation du contrat de vente. Si
vous recevez néanmoins le produit après avoir utilisé cette faculté, vous devrez le retourner
selon les modalités de retour prévues.

Vous devez vérifier la conformité des Produits au moment de la Livraison. En cas de
non-conformité des Produits achetés ou s'ils ne vous donnent pas satisfaction, vous pouvez
contacter le Service Clients en nous envoyant un mail à contact@odhune.com. Vous pouvez
les retourner ou en demander l'échange ou le remboursement dans les conditions prévues.
Vous disposez d’un droit de rétractation légal que vous pouvez exercer dans les conditions
prévues par les articles L. 121-21, L. 121-21-1 et L. 121-21-2 du Code de la consommation,
hors parfum, produit cosmétique, si vous remplissez les conditions posées par ces
dispositions, sans avoir à justifier de motifs et sans avoir à payer de pénalités dans un délai
de quatorze jours à compter de la date de Livraison des Produits. Passé ce délai, vous ne
pourrez plus exercer votre droit de rétractation.
Tout retour doit être effectué de manière complète et les produits retournés doivent être
neuf.
En cas de défaut d'un produit acheté sur le site, les clients disposent, conformément aux
dispositions du Code civil relatives à la garantie légale des vices cachés, d'un délai de deux
ans à compter de la réception pour en demander l'échange ou le remboursement
conformément à l'article L211-5 du Code de la consommation.
Afin d'exercer l'un de ces droits, il leur appartient de retourner le colis à l'adresse du siège
de la société, accompagné d'une lettre explicative demandant soit un remboursement, soit
un échange. Les frais d'envoi du colis, dans ce dernier cas uniquement, seront alors
remboursés au client par chèque bancaire ou par virement bancaire, dans un délai
maximum de trente jours.
</p>

<p class="titre">Remboursement</p>

<p class="text">
En cas de demande de remboursement, ce dernier interviendra dans un délai maximum de
quinze jours à compter de la réception du ou des produit(s) par ODHUNE. Une fois les
produits reçus, contrôlés et acceptés par nos services, le remboursement des
produits s’effectuera selon le même mode de paiement utilisé lors de la commande.
Veuillez toutefois noter qu'un délai supplémentaire peut être appliqué par votre banque lors
du remboursement.

</p>

<p class="titre">Divers</p>

<p class="text">
En aucun cas, la responsabilité de ODHUNE ne pourra être engagée pour tout dommage
qui ne résulterait pas d’un manquement de ODHUNE à l’une de ses obligations.
Si l'une des clauses des présentes conditions générales devait être déclarée nulle par une
décision de justice, cette nullité ne saurait entraîner la nullité de toutes les autres clauses,
qui continueraient à produire leurs effets.
Le fait, pour ODHUNE, de ne pas se prévaloir temporairement ou définitivement d'une ou
plusieurs clauses des présentes conditions générales, ne constituera en aucun cas une
renonciation à se prévaloir du reste des conditions générales.

Les présentes Conditions Générales de Vente sont régies et interprétées conformément au
droit français. Toutefois, conformément au règlement CE 593/2008 du 17 juin 2008, ces
Conditions Générales de Vente ne font pas obstacles au respect par ODHUNE d'une
disposition à laquelle il ne peut être dérogé par accord, en vertu de la loi où le Client a sa
résidence habituelle.
De plus, les présentes conditions générales sont soumises à l'application du droit français et
à la compétence exclusive des tribunaux français. La langue du contrat est le français.
En cas de divergences entre la version française et la version anglais des Conditions
Générales de Vente, la version française prévaudra.

</p>


 </div>

            
</div>
</div>
</div>
    <textarea name="" hidden id="photos" cols="30" rows="10">{{photos}}</textarea>
{% endblock %}

{% block javascripts %}
<script>

var photos = JSON.parse(document.querySelector('#photos').innerHTML)
nbphotos = photos.length
function photoShow(){ 
    let position = Math.trunc(Math.random()* (nbphotos))
    let nomPhoto = photos[position]
    let cheminPhoto =  "{{ asset('img/photoProduitUpload/') }}"
    document.getElementById('slideShow').setAttribute('src', cheminPhoto + nomPhoto)
}
photoShow()
setInterval("photoShow()", 5000);


</script>

{% endblock %}
