{% extends "base.html.twig" %}
{% block title %}{{ parent() }} | Profil{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/mentions_legales_CGV.css') }}">{% endblock %}
{% block h1 %}Profil{% endblock %}
{% block content %}

 
       <div class=" wrapper col-12 d-flex flex-lg-row flex-column ">
                 <div class="col-lg-6 col-12">
       
                        <img id ="slideShow" class="d-block w-100" src=""  alt="">
                    
                    </div>
                       
        
               <div class="pdc col-lg-6 col-12 mx-auto d-flex flex-column justify-content-start px-2">

                    <h1 class=" mx-auto"> Mentions légales<h1>
                    <div>
<p class="titre">Propriété du site</p>

<p class="text">
Le présent site www.odhune.com est la propriété de ODHUNE SARL au capital de 5.000 €
inscrite au RCS de Lisieux sous le numéro 899 113 203 dont le siège social est 11 Avenue
Aristide Briand 14800 Touques FRANCE - Tél. : 06.89.75.95.81 - Mail
: contact@odhune.com.
Le responsable de la publication sur www.odhune.com est Mme Jeanne CLAUDE.
Numéro de TVA intracommunautaire : FR93899113203.
</p>
<p class="titre">Développement et hébergement</p>

<p class="text">
Le site web est développé avec amour par Jean Michel LUQUOT et hébergé tout pareil
par Kagency, Agence Web Nantes. Direction : Yann LEFEBVRE. 11 Bd Ampère - La
Fleuriaye - BP 70760 - 44481 CARQUEFOU cedex. Tel : 02 51 13 56 56
</p>
<p class="titre">Conditions générales d’utilisation</p>

<p class="text">
L’utilisation de ce site implique l’acceptation pleine et entière des conditions générales
d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées
ou complétées à tout moment, les utilisateurs de ce site sont donc invités à les consulter de
manière régulière. Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour
raison de maintenance technique peut être toutefois décidée par le responsable du site, qui
s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de
l’intervention.
</p>
<p class="titre">Description des services</p>

<p class="text">
Ce site a pour objet de fournir une information concernant l'ensemble des activités de la
société. Celle-ci s'efforce de fournir sur le site des informations aussi précises que possible.
Toutes les informations indiquées sur ce site sont données à titre indicatif et sont
susceptibles d’évoluer. Ces informations ne sont pas exhaustives et sont données sous
réserve de modifications ayant été apportées depuis leur mise en ligne.
</p>

<p class="titre">Propriété intellectuelle</p>

<p class="text">
Les éléments de ce site sont protégés par le droit d’auteur et ne peuvent être copiés ou
imités en tout ou partie. Aucun contenu, logotype, graphisme, son ou image tirée de ce site
web ne peut être copié, modifié ou retransmis sans l’autorisation écrite de l’entreprise.
Toute exploitation non autorisée du site ou de l’un des éléments qu’il contient sera
considérée comme constitutive d’une contrefaçon et poursuivie conformément aux
dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
</p>

<p class="titre">Données personnelles</p>

<p class="text">
Vous disposez d’un droit d’accès, de rectification, de modification et de suppression
concernant les données qui vous concernent personnellement. Consultez notre politique
de confidentialité pour connaître la démarche à suivre.
</p>
<p class="titre">Cookies</p>

<p class="text">
Informations sur les cookies
<br>
Le présent site utilise des « cookies », qui sont des petits fichiers textes stockés sur votre
disque dur afin d’enregistrer des données techniques sur votre navigation. Vous êtes libre de
refuser ces cookies. Dans ce cas, certaines pages web peuvent ne pas s’afficher
correctement.
<br>
<br>
Finalité des cookies utilisés
<br>
Les données recueillies grâce aux cookies ne sont pas communiquées à quelque tiers que
ce soit.
<br>
<br>
● Les cookies que nous émettons
Il s’agit des cookies et des traceurs strictement nécessaires à la fourniture d’un
service expressément demandé par l’utilisateur. Ces cookies sont exemptés de
consentement.
<br>
<br>
● Les cookies que nous installons sur votre terminal sont :
<br>
○ Des cookies d’authentification qui nous permettent de sécuriser l’accès à des
espaces réservés et personnels tels que « Mon compte », « Mon panier ».
<br>
○ Des cookies de « panier d’achat » pour les sites marchands ou les sites
permettant de réaliser un panier (pour une demande de devis, une
commande).<br>

○ Des cookies « identifiants de session », pour la durée d’une session, ou les
cookies persistants limités à quelques heures dans certains cas.
<br>
<br>
● Les Cookies tiers
<br>
Nous utilisons des cookies émis par Google Analytics.
Ces cookies nous permettent d’établir des statistiques de fréquentation (nombre de
visites, de pages vues, d’abandon dans le processus de commande, ...) pour suivre
et améliorer la qualité de nos services.
Google Analytics est utilisé de façon anonyme afin d’améliorer l’expérience utilisateur
sur notre site web et vous proposer une navigation intuitive.
<br>
<br>
Vos choix concernant les cookies
<br>
Vous pouvez refuser les cookies tiers par un paramétrage approprié de votre navigateur :
Vous pouvez configurer votre logiciel de navigation de manière à ce que des cookies soient
enregistrés dans votre terminal ou, au contraire, qu’ils soient rejetés, soit systématiquement,
soit selon leur émetteur. Vous pouvez également configurer votre logiciel de navigation de
manière à ce que l’acceptation ou le refus des cookies vous soient proposés
ponctuellement, avant qu’un cookie soit susceptible d’être enregistré dans votre terminal. La
configuration de chaque navigateur est différente.
<br>
<br>
Acceptation des cookies
<br>
L’enregistrement d’un cookie dans un terminal est subordonné à la volonté de son utilisateur,
exprimée et modifiée à tout moment gratuitement à travers les choix proposés par son
logiciel de navigation.
Si vous avez accepté dans votre logiciel de navigation l’enregistrement de cookies dans
votre terminal, les cookies intégrés dans les pages et contenus que vous avez consultés
pourront être stockés temporairement dans un espace dédié de votre ordinateur. Ils y seront
lisibles uniquement par leur émetteur.
<br>
<br>
Refus des cookies
<br>
Si vous refusez l’enregistrement de cookies dans votre ordinateur, ou si vous supprimez
ceux qui y sont enregistrés, vous pourrez éventuellement ne plus bénéficier d’un certain
nombre de fonctionnalités. Tel serait également le cas lorsque nous ou nos prestataires ne
pourrions pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé
par votre ordinateur, les paramètres de langue et d’affichage ou le pays depuis lequel votre
terminal semble connecté à Internet. Le cas échéant, nous déclinons toute responsabilité
pour les conséquences liées au fonctionnement dégradé de nos services résultant de
l’impossibilité d’enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et
que vous auriez refusés ou supprimés.
</p>

<p class="titre">Informatique et libertés</p>

<p class="text">
Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978
relative à l’informatique, aux fichiers et aux libertés, vous disposez d'un droit d'accès, de
rectification et de suppression des données vous concernant. Pour l'exercer, adressez-vous
à contact@odhune.com ou directement par voie postale à ODHUNE - 11 Avenue Aristide
Briand 14800 Touques France.
</p>



                    </div>

            

                </div>

        </div>
    
    </div>
    <textarea name="" hidden id="photos" cols="30" rows="10">{{photos}}</textarea>
{% endblock %}

{% block javascripts %}
<script>

var photos = JSON.parse(document.querySelector('#photos').innerHTML)
nbphotos = photos.length
function photoShow(){ 
    let position = Math.trunc(Math.random()* (nbphotos))
    let nomPhoto = photos[position]
    let cheminPhoto =  "{{ asset('img/photoProduitUpload/') }}"
    document.getElementById('slideShow').setAttribute('src', cheminPhoto + nomPhoto)
}
photoShow()
setInterval("photoShow()", 5000);


</script>

{% endblock %}
