{% extends "base.html.twig" %}
{% block title %}{{ parent() }} | Profil{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/pdc.css') }}">{% endblock %}
{% block h1 %}Profil{% endblock %}
{% block content %}

 
       <div class=" wrapper col-12 d-flex flex-lg-row flex-column ">
                 <div class="col-lg-7 col-12">
       
                        <img id ="slideShow" class="d-block w-100" src=""  alt="">
                    
                    </div>
                       
        
               <div class="pdc  col-lg-3 col-sm-6 mb-5 mx-auto d-flex flex-column justify-content-start">

                    <p class="titre"> Politique de  confidentialité</p>

                    <p class="texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse enim aut hic in ab reiciendis deserunt illum modi nihil voluptas sapiente, explicabo perferendis minima deleniti cupiditate, labore distinctio voluptates, odio ratione suscipit perspiciatis! Officia ratione eius eveniet quas dolorem quae esse modi ducimus? Explicabo amet a eos! Eaque iure modi quam vitae illo fugit voluptas consequatur sint, cum consequuntur praesentium temporibus incidunt aliquid totam. Dolore sunt quam odio, officia dolorem saepe! Reprehenderit architecto voluptate officia eligendi facere officiis consequuntur rerum magnam assumenda explicabo. Quaerat repellendus at consectetur laudantium? Voluptas, similique. Culpa aliquid id eius, dolore nulla libero dignissimos repudiandae non corrupti, minima iste commodi placeat! Cupiditate voluptatibus adipisci est minima cum natus corporis nisi id incidunt numquam rem error officia eaque tempora at sit ullam totam ea, quibusdam iure debitis eligendi delectus tenetur? Ea animi blanditiis eius fuga, fugiat asperiores temporibus ipsum inventore? Eos aut cupiditate quae quod voluptatem ratione optio fugit nobis debitis hic minima laborum eligendi harum facere temporibus, voluptate beatae itaque ipsum! Totam a suscipit facilis velit quam, assumenda itaque corporis in inventore, quibusdam laudantium, commodi accusamus eos consequatur omnis? Hic atque pariatur impedit praesentium necessitatibus quaerat laboriosam nesciunt neque! Quo unde reiciendis earum omnis aperiam est.</p>
            

                </div>

        </div>
    
    </div>
    <textarea name="" hidden id="photos" cols="30" rows="10">{{photos}}</textarea>
{% endblock %}

{% block javascripts %}
<script>

var photos = JSON.parse(document.querySelector('#photos').innerHTML)
nbphotos = photos.length
function photoShow(){ 
    let position = Math.trunc(Math.random()* (nbphotos))
    let nomPhoto = photos[position]
    let cheminPhoto =  "{{ asset('img/photoProduitUpload/') }}"
    document.getElementById('slideShow').setAttribute('src', cheminPhoto + nomPhoto)
}
photoShow()
setInterval("photoShow()", 5000);


</script>

{% endblock %}
